img {
  padding: 15px;
  float: left;
  max-height: 100%;
  max-width: 100%;
  border: 15px #aca3ff;
}
.jumbotron {
  color: #7163f7;
  background-color: #a3ffb4;
}
.container {
  height: 180px;
}
#h1m {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #9932CC;
  font-size: 20pt;
}
.font {
  font-size: 16pt;
}