img {
  padding: 15px;
  float: left;
  max-height: 100%;
  max-width: 100%;
  border: 15px #aca3ff;
}
.jumbotron {
  color: #4e0081;
  font-weight: bold;
}
.container {
  height: 180px;
  background-color: #daf5fa;
}
#h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #9932CC;
  font-size: 20pt;
}
.font {
  font-size: 16pt;
  color:  rgb(1, 92, 92);
}
.language {
  color: rgb(1, 92, 92);
  font-weight: 800;
}
.box {
  margin: 10px;
  border: 5px #389449;
  padding: 5px;
  background-color:#effaf0;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}