img {
  float: left;
  max-height: 100%;
  max-width: 100%;
  border: 15px #aca3ff;
}
.pic {
  margin: 5px;
  border: 15px #a3ffb4;
  padding: 5px;
  background-color: blanchedalmond;
}
.container {
  height: 180px;
}
#h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #9932CC;
  font-size: 16pt;
}